<div class="bg-gray-200 p-2 flex space-between border-b border-gray-300 items-center">
    <a class="cursor-pointer user icon"><i class="material-icons">personal_video</i></a>
    <div class="flex flex-1 justify-end space-x-6">
        <a class="cursor-pointer icon text-gray-600 hover:text-gray-700 mt-1 mr-2"><i class="material-icons">search</i></a>
        <a class="cursor-pointer icon text-gray-600 hover:text-gray-700 icon--tilt"><i class="material-icons">attachment</i></a>
        <a class="cursor-pointer icon text-gray-600 hover:text-gray-700"><i class="material-icons">more_vert</i></a>
    </div>
</div>
